table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}
th {
    background-color: #01987A;
    color: white;
}
tr th {
    padding: 10px;
}
tr td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}